//***** BUTTONS *****
.btn {
  display: inline-block;
  border: none;
  box-shadow: 0 5px 5px rgba($navy, 0.2);
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in;
  text-decoration: none;
  letter-spacing: 2px;
}

.btn-sm {
  background: rgba($blue, 0.9);
  padding: 1rem 1.3rem;
  color: $white;
  font-size: 1.8rem;
  font-weight: 200;
  text-transform: lowercase;
  border: 2px solid $navy;
  border-radius: 3px;
  margin: 2rem 1rem 0 0;
  &:hover {
    background: $white;
    color: $navy;
    box-shadow: 0 0 4px 2px rgba($navy, 0.3);
  }
  &:active {
    box-shadow: 0 0 4px 2px rgba($navy, 0.1);
  }
}
