//COLORS
$white: #fff;
$blue: #2f52e0;
$navy: #02182b;
$teal: #00b9ae;
$yellow: #f9cb40;
$light-blue: #2095fd;
$pink: #f8befe;

//FONT
$font-primary: 'Jost', sans-serif;
$font-display: 'Montserrat', sans-serif;
$default-font-size: 2rem;
