////***** HEADER SECTION *****
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  @include respond(phone) {
    align-items: center;
  }

  &__titles {
    padding: 23rem 5rem 15rem 5rem;
    @include respond(tab-port) {
      padding: 20rem 3rem 10rem 3rem;
    }
    @include respond(phone) {
      padding: 20rem 0 7rem 0;
    }
  }
  &__about {
    width: 50%;
    padding: 0 0 10rem 5rem;
    @include respond(tab-port) {
      padding: 0 0 7rem 3rem;
    }
    @include respond(phone) {
      width: 70%;
      padding: 0 0 5rem 1rem;
    }
  }
}

////***** PROJECTS SECTION *****

.projects {
  padding: 12rem 5rem 5rem 5rem;
  overflow: hidden;
  @include respond(phone) {
    padding: 12rem 3rem 4rem 3rem;
  }

  &__container {
    padding: 4rem 0;
    @include respond(phone) {
      padding: 3rem 0;
    }
  }
  &__details {
    display: flex;
    flex-direction: column;
  }
  &__button-container {
    display: flex;
  }
}

////***** ABOUT SECTION *****

.about__title-container-phone {
  visibility: hidden;
  display: none;
  @include respond(phone) {
    visibility: visible;
    display: inline;
    text-align: right;
  }
}

.about {
  padding: 11rem 5rem 5rem 5rem;
  overflow: hidden;
  @include respond(phone) {
    padding: 3rem;
  }
  &__container {
    display: flex;
    justify-content: flex-end;
  }
  &__title-container {
    @include respond(phone) {
      visibility: hidden;
      display: none;
    }
  }
  &__text-container {
    width: 65%;
    @include respond(tab-port) {
      width: 75%;
    }
    @include respond(phone) {
      width: 90%;
    }
  }

  &__marquee {
    &--container {
      display: flex;
      justify-content: center;
      margin-bottom: 3rem;
    }
    &--text {
      padding: 2rem 0;
      width: 70%;
      overflow: hidden;
      border: 2px solid $navy;
      background: rgba($pink, 0.7);
      border-radius: 3px;
      @include respond(phone) {
        width: 95%;
      }
    }
  }
}

///***** CONTACT SECTION *****

.contact {
  padding: 10rem 5rem 0rem 5rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  @include respond(phone) {
    padding: 5rem 3rem 0rem 3rem;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @include respond(phone) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__about-container {
    width: 55%;
    border-radius: 3px;
    background-color: $navy;
    padding: 5rem 5rem 11rem 5rem;
    position: relative;
    @include respond(tab-port) {
      padding: 3rem 3rem 6rem 3rem;
    }
    @include respond(phone) {
      //   padding: 3rem;
      width: 100%;
    }
  }
  &__email-container {
    width: 40%;
    border-radius: 3px;
    text-align: right;
    padding: 9rem 5rem 5rem 5rem;
    background-color: rgba($teal, 0.7);
    border: 2px solid $navy;
    @include respond(phone) {
      margin: 3rem 0;
      width: 90%;
      padding: 3rem;
    }
  }
}

////***** FOOTER SECTION *****
.footer {
  background-color: $navy;
  padding: 5rem;
  color: $white;

  &__text {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: right;
  }
  &__text > a {
    text-decoration: none;
    color: inherit;
  }
}
